
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.nytimes.com/{{this.multimedia.0.url}}" alt="Card image cap">
     <div class="card-body">
    <h5 class="card-title">{{this.haedline.main}}
    </h5>
    <p class="card-text">{{this.snippet}}</p>
    <a href="{{this.web_url}}" class="btn btn-primary">Read more</a>
  </div>
</div>
