<div class="row">
    <div class="col">
        <div class="news">

                <img src="https://www.nytimes.com/{{this.multimedia.0.url}}"><br>
                <span class="album-title">{{this.headline.main}}</span><br><br>
                <span class="album-title">{{this.snippet}}</span><br><br>
                <a href="{{this.web_url}}">Link to Access</a><br><br>
        </div>
    </div>
</div>