    <h1>New York Times</h1>
    <div class="search-box">
        <form method="GET" action="/search-results">
            <input name="q">
            <button type="submit">BUSCAR</button>
        </form>
    </div>