<div class="post-box">
    <h2>{{this.headline.main}}</h2>
    <img src="https://www.nytimes.com/{{this.multimedia.0.url}}">
    <p>{{this.snippet}}</p>
    <a href="{{this.web_url}}">View More</a>
</div>