<div class="artist-containeer">
    <div class="row">
        <div class="col-sm sm1">
            
        </div>
        <div class="col-sm sm2">
            <form action="/search-results" method="get">
                News <input name="q" placeholder="" />
                <button class="btn-artist btn btn-secondary" type="submit">Search for News</button>
            </form>
        </div>
        <div class="col-sm sm3"></div>
    </div>
</div>