<div class="wrapper"> 
  <form class="example" action="/search-results" style="margin:auto;max-width:300px">
    <input type="text" placeholder="Search.." name="q" id="search-input">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>