<html>
<body>
 <head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
 </head>
   
<div class="head"> 

 <div class="logo-tny">
    
 </div>  


</div>
 
 <div class="form-tny">
     <form action="/search-results" method="get">
      <input type="text" name="q"/>
      <input type="submit" value="search"/>
    </form>
 </div>
    </body>
</html>